* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  * a {
    text-decoration: none;
  }
  * ul {
    list-style-type: none;
  }

  .hideMenu {
    display: none;
  }
  /* Masa start here */

/* ====================================== section-4 =======================================- */

/* .section-4 .industryContainer button {
  background-color: #23a6f0 !important;
} */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ section-5 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* .section-5 .priceSection h2 {
  font-size: 40px;
  font-weight: bold;
}

.section-5 .priceSection p {
  width: 470px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

.section-5 .priceContainer .priceCard {
  background: #ffffff;
  width: 327px;
  height: 689px;
}

.priceContainer .priceCard h2 {
  font-size: 24px;
  font-weight: bold;
  color: #252b42;
}

.priceContainer .priceCard p {
  font-size: 16px;
  font-weight: bold;
  color: #737373;
} */

/* ================================= section-6 ==================================- */

/* .footer * {
  background-color: #fafafa;
}

.footer .upperSection h2 {
  font-size: 24px;
  font-weight: bold;
} */
  
  /* ########## */
  /* RESPONSIVE */
  /* ########## */
  
  /* 639px */
  @media screen and (max-width: 639px) {
  /* Santi start here */
  body:has(#MenuHamburguer:checked) .hideMenu {
		display: block;
	}
   
	body:has(#MenuHamburguer:checked) .header {
		background-color: #252B42;
	}

  /* Masa start here */

}
