* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  * a {
    text-decoration: none;
  }
  * ul {
    list-style-type: none;
  }

  .hideMenu {
    display: none;
  }
  
  /* ########## */
  /* RESPONSIVE */
  /* ########## */
  
  /* 639px */
  @media screen and (max-width: 639px) {
  /* Santi start here */
  body:has(#MenuHamburguer:checked) .hideMenu {
		display: block;
	}
   
	body:has(#MenuHamburguer:checked) .header {
		background-color: #252B42;
	}

  /* Masa start here */

}
