* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  * a {
    text-decoration: none;
  }
  * ul {
    list-style-type: none;
  }
   
  .gap10 {
    gap: 10px;
}

.gap30 {
    gap: 30px;
}

.gap50 {
    gap: 50px;
  }

  .colorWhite {
    color: white;
  }

  .buttonPrimary {
    background-color: #23a6f0;
    font-size: 14px;
  }

  .buttonTransparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;

  }
  /* Santi start here */
  .firstPart {
    background-image: url('../assets/header/firstImage.jpg');
    height: 670px;
  }
  .fontSize40 {
    font-size: 40px;
  }

  .loginButton {
    border: 0;
    background: inherit;  
  }

  .titleLogo {
    font-size: 24px;
    font-weight: 700;
  }

  .title {
    font-size: 58px;
    font-weight: 700;
  }

  .description {
    font-size: 20px;
  }
  
  .section2 {
    height: 435px;
    background-color: #252B42;
  }


  .section2 .cardDescription {
    font-size: 14px;
  }
  
  .section3 {
    height: 772px;
    background-color: #8EC2F2;
  }

  .mNegative {
    margin-left: -97px;
  }

  .hideMenu {
    display: none;
  }
  /* Masa start here */

/* ====================================== section-4 =======================================- */

/* .section-4 .industryContainer button {
  background-color: #23a6f0 !important;
} */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ section-5 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* .section-5 .priceSection h2 {
  font-size: 40px;
  font-weight: bold;
}

.section-5 .priceSection p {
  width: 470px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

.section-5 .priceContainer .priceCard {
  background: #ffffff;
  width: 327px;
  height: 689px;
}

.priceContainer .priceCard h2 {
  font-size: 24px;
  font-weight: bold;
  color: #252b42;
}

.priceContainer .priceCard p {
  font-size: 16px;
  font-weight: bold;
  color: #737373;
} */

/* ================================= section-6 ==================================- */

/* .footer * {
  background-color: #fafafa;
}

.footer .upperSection h2 {
  font-size: 24px;
  font-weight: bold;
} */
  
  /* ########## */
  /* RESPONSIVE */
  /* ########## */
  
  /* 639px */
  @media screen and (max-width: 639px) {
  /* Santi start here */
  .title {
    font-size: 40px;
  }

  .firstPart {
    height: auto;
  }
  
  .section2 {
    height: auto;
  }
  .section3 {
    height: auto;
  }

  body:has(#MenuHamburguer:checked) .hideMenu {
		display: block;
	}
   
	body:has(#MenuHamburguer:checked) .header {
		background-color: #252B42;
	}
  
  .fullScreenMenu {
    position: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
	}

  .fullScreenMenu a  {
    color: #fff;  
  }

	.fullScreenMenu ul {
		display: flex;
		flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center; 
    gap: 30px;
    font-size: 30px;
    padding: 0;
	}

  /* Masa start here */

}
